.react-tel-input .form-control{
  height: 50px;
  font-size: 16px;
  width: 100%;
  padding: 0.5rem;
  padding-left: 48px;
  border-radius: 1rem;
}

.react-tel-input .flag-dropdown{
  margin-top: 5px;
  height: 40px;
  position: absolute;
  left: 10px;
  display: flex;
  align-items: center;
  border: none;
  background-color: transparent;
  box-shadow: none;
}

.react-tel-input .form-control:focus{
  border-color: #2196F3;
  outline: none !important;
  box-shadow: 0 0 0 1px #2196F3 !important;
}

.custom-input:focus{
  border-color: #2196F3 !important;
  outline: none !important;
  box-shadow: 0 0 0 1px #2196F3 !important;
}

.react-tel-input .country-list{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
}

input, textarea {
  border-color: #CACCCE !important;
}

.close-button {
  color: #CACCCE !important;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border-radius: 4px;
  appearance: none;
  outline: none;
  position: relative;
  background-color: white;
}

input[type="checkbox"]:checked {
  border: 0;
}

.custom-placeholder::placeholder {
  color: #CACCCE;
  opacity: 1;
}