@media (max-width: 1024px) {
    .hero-title  {
        font-size: 40px !important;
    }

    .container {
        height: 100vh !important;
    }
}

.home-wrap {
    background-image: url('../../assets/img/home/home-background.png');
    background-repeat: repeat;
    background-size: auto;
    background-position: center;
}